<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://peterlefunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/19931b34-2c0f-4b52-9e1a-d477e2fdb25a/resourceGroups/peterlefunctionapp/providers/Microsoft.Web/sites/peterlefunctionapp</ResourceId>
    <UserName>$peterlefunctionapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://peterlefunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>